@import '@/assets/style/index.css';

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* 基础背景色，防止闪白 */
html[data-theme='light'] {
  background-color: #fff;
}

html[data-theme='dark'] {
  background-color: #000;
}
